BODY {
	SCROLLBAR-FACE-COLOR: #C1C0B7; FONT-SIZE: 12px; BACKGROUND: #eeeeee; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #C1C0B7; SCROLLBAR-SHADOW-COLOR: #C1C0B7; SCROLLBAR-3DLIGHT-COLOR: #C1C0B7; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #FFFFFF; SCROLLBAR-DARKSHADOW-COLOR: #C1C0B7
}
BODY {
	FONT-SIZE: 12px; LINE-HEIGHT: 1.5em; FONT-FAMILY: "宋体" , Verdana, Arial, Helvetica,sans-serif
}


TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 1.5em; FONT-FAMILY: "宋体" , Verdana, Arial, Helvetica,sans-serif
}
INPUT {
	FONT-SIZE: 12px; LINE-HEIGHT: 1.5em; FONT-FAMILY: "宋体" , Verdana, Arial, Helvetica,sans-serif
}
OPTION {
	FONT-SIZE: 12px; LINE-HEIGHT: 1.5em; FONT-FAMILY: "宋体" , Verdana, Arial, Helvetica,sans-serif
}
TEXTAREA {
	FONT-SIZE: 12px; LINE-HEIGHT: 1.5em; FONT-FAMILY: "宋体" , Verdana, Arial, Helvetica,sans-serif
}
SELECT {
	FONT-SIZE: 12px; LINE-HEIGHT: 1.5em; FONT-FAMILY: "宋体" , Verdana, Arial, Helvetica,sans-serif
}
A {
	FONT-SIZE: 12px; LINE-HEIGHT: 1.5em; FONT-FAMILY: "宋体" , Verdana, Arial, Helvetica,sans-serif
}
BODY {
	COLOR: #4B4B4B
}
TD {
	COLOR: #4B4B4B
}
INPUT {
	COLOR: #4B4B4B
}
OPTION {
	COLOR: #4B4B4B
}
TEXTAREA {
	COLOR: #4B4B4B
}
SELECT {
	COLOR: #4B4B4B
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A:link {
	COLOR: #4B4B4B; TEXT-DECORATION: none
}
A:visited {
	COLOR: #4B4B4B; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f54b1a; TEXT-DECORATION: none
}
A:active {
	COLOR: #f54b1a; TEXT-DECORATION: none
}
.navPoint {
	FONT-SIZE: 9pt; CURSOR: hand; COLOR: #ffffff; FONT-FAMILY: Webdings
}
.line {
	BORDER-RIGHT: #c1c1c1 0px solid; BORDER-LEFT: #c1c1c1 0px solid; WIDTH: 10pt
}
.f14w {
	FONT-SIZE: 14px; COLOR: #000000
}
.tableBorder {
	BORDER-RIGHT: #183789 1px solid; BORDER-TOP: #183789 1px solid; BORDER-LEFT: #183789 1px solid; BORDER-BOTTOM: #183789 1px solid; BACKGROUND-COLOR: #ffffff
}
.bgcolor1 {
	BACKGROUND-COLOR: #F8F8F8
}
.bgcolor2 {
	BACKGROUND-IMAGE: url(../Images/Manage/admin_bg_1.gif); COLOR: #f1f1f1; BACKGROUND-COLOR: #131e29
}
.bgcolor3 {
	BACKGROUND-COLOR: #131e29
}
.bgcolor4 {
	BACKGROUND-COLOR: #F8F8F8
}
.bgcolor5 {
	BACKGROUND-COLOR: #535677
}
.bgcolor6 {
	BACKGROUND-COLOR: #131e29
}
.bgcolor7 {
	BACKGROUND-COLOR: #131e29
}
.table_mailto {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 180%; PADDING-TOP: 8px; FONT-FAMILY: "宋体", Tahoma, Arial
}
.td_mailto {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 180%; PADDING-TOP: 8px; FONT-FAMILY: "宋体", Tahoma, Arial
}
.button {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; CURSOR: hand; COLOR: #000000; LINE-HEIGHT: 160%; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "宋体", Tahoma, Arial; BACKGROUND-COLOR: #f7f7f7
}
.input {
	BORDER-RIGHT: #919191 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #919191 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #919191 1px solid; CURSOR: hand; LINE-HEIGHT: 16px; PADDING-TOP: 2px; BORDER-BOTTOM: #919191 1px solid; FONT-FAMILY: "宋体", Tahoma, Arial; HEIGHT: 20px; BACKGROUND-COLOR: #f7f7f7
}
SELECT {
	BORDER-RIGHT: #919191 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #919191 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #919191 1px solid; CURSOR: hand; COLOR: #4B4B4B; PADDING-TOP: 2px; BORDER-BOTTOM: #919191 1px solid; FONT-FAMILY: Tahoma,"宋体",  Arial; HEIGHT: 20px; BACKGROUND-COLOR: #f7f7f7
}
.textarea {
	BORDER-RIGHT: #919191 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #919191 1px solid; PADDING-LEFT: 2px; SCROLLBAR-FACE-COLOR: #f9f9f9; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 2px; SCROLLBAR-HIGHLIGHT-COLOR: #dedede; OVERFLOW: auto; BORDER-LEFT: #919191 1px solid; CURSOR: hand; SCROLLBAR-SHADOW-COLOR: #dedede; SCROLLBAR-3DLIGHT-COLOR: #f9f9f9; SCROLLBAR-ARROW-COLOR: #dedede; PADDING-TOP: 2px; SCROLLBAR-TRACK-COLOR: #f9f9f9; BORDER-BOTTOM: #919191 1px solid; FONT-FAMILY: "宋体", Tahoma, Arial; SCROLLBAR-DARKSHADOW-COLOR: #f9f9f9; BACKGROUND-COLOR: #f7f7f7
}
.left_logo {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 22pt; FILTER: DropShadow(Color=#000000, OffX=2, OffY=2); COLOR: #ffffff
}
.MenuTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f9f9f9; TEXT-DECORATION: none
}
.MenuList {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.img {
	BORDER-RIGHT: #919191 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #919191 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #919191 1px solid; CURSOR: hand; PADDING-TOP: 2px; BORDER-BOTTOM: #919191 1px solid; FONT-FAMILY: Tahoma, Arial; BACKGROUND-COLOR: #f7f7f7
}
.Title2H {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000066; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
