BODY {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 12px; COLOR: #333333
}
SELECT {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
A:link {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff4400; TEXT-DECORATION: none
}
.kbhide {
	DISPLAY: none
}
TD {
	FONT-SIZE: 12px; COLOR: #000000
}
.p1 {
	FONT-SIZE: 1px; LINE-HEIGHT: 1px
}
.m {
	FONT-SIZE: 12px; COLOR: #000000
}
.large {
	FONT-SIZE: 12px; LINE-HEIGHT: 160%
}
.large1 {
	FONT-SIZE: 12px; LINE-HEIGHT: 200%
}
.font {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.english:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.english:visited {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.english:active {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.english:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.ly:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.ly:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.ly:active {
	FONT-SIZE: 12px; COLOR: #999999; TEXT-DECORATION: underline
}
A.ly:hover {
	FONT-SIZE: 12px; COLOR: #999999; TEXT-DECORATION: underline
}
A.si:link {
	FONT-SIZE: 12px; COLOR: #c8a46c; TEXT-DECORATION: none
}
A.si:visited {
	FONT-SIZE: 12px; COLOR: #c8a46c; TEXT-DECORATION: none
}
A.si:active {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.si:hover {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.eng {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.blue:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.blue:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.blue:active {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
A.blue:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.bb:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.bb:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.bb:active {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.bb:hover {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.sy:link {
	FONT-SIZE: 12px; COLOR: #015a86; TEXT-DECORATION: none
}
A.sy:visited {
	FONT-SIZE: 12px; COLOR: #015a86; TEXT-DECORATION: none
}
A.sy:active {
	FONT-SIZE: 12px; COLOR: #015a86; TEXT-DECORATION: none
}
A.sy:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
A.si:link {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.si:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.si:active {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.si:hover {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.www {
	FONT-SIZE: 14px; COLOR: #000000
}
.wo {
	FONT-SIZE: 20px; COLOR: #0000cc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.si2:active {
	FONT-SIZE: 12px; COLOR: #0066cc; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.si2:hover {
	FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.si2:link {
	FONT-SIZE: 12px; COLOR: #0066cc
}
A.si2:visited {
	FONT-SIZE: 12px; COLOR: #0066cc
}
.list {
	FONT-SIZE: 12px; LINE-HEIGHT: 300%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
